.PageBody
{
    padding: 10px 0px;
    height: auto;
}

/* End SearchBar Part stylling */
.DetailsTbl
{
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 10px;
    padding: 10px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.DetailsTbl h4
{
    color: #000000;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0px 10px;
}

/* Check if the styles are being applied */
.DetailsTbl [tabLink] {
    display: flex; /* Use flexbox to align items horizontally */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
}

.DetailsTbl [tabLink] a {
    text-decoration: none;
    color: #000000;
    margin: 10px 5px; /* Adjust the margin as needed */
    padding: 7px 5px; /* Adjust the padding as needed */
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid lightgray;
}
.nav.nav-tabs .nav-link.active {
    background-color: #5867DD;
    color: #ffffff;
  }

.overflow {
    height: 81vh;
    overflow-y: auto;
    overflow-x: auto;
    padding: 0px;
}

#datatableexample tr {
    border-bottom: 1px solid #E2E8F0;
    height: 40px;
}
table
{
    width: 100%;
}

table thead td
{
    color: #fff;
    Size:8px;
    font-family: 'Inter' Arial, Helvetica, sans-serif;
    line-height:14px;
    padding: 10px 5px;
    background-color: #716ACA !important;
    font-weight: bold;
}
table td
{
    font-family: 'Inter' Arial, Helvetica, sans-serif;
    font-size: 12px;    
    line-height: 12px;
    letter-spacing: 1px;
    text-align: left;
    padding: 10px 5px;
    color: #000000;

}
table td button
{
    border: none;
    padding: 5px 10px;
    color: #ffffff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    border-radius: 20px;
    background-color: #716ACA;
    height: 35px;
    margin: -20px 0px;
}
table td select
{
    
    display: block;
    width: 170px;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: 30px;
    margin: -10px 0px !important;
    font-family: 'Inter', Arial, Helvetica, sans-serif !important;
    font-size: 14px;
    transition: all ease-in;
}
table td select:hover
{
    border-color: #7098fd;
    color: #575962;
    box-shadow:  #7098fd 0px 1px 4px;
}
