
<!-- start Heading Part -->
<div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
         
          <app-sidebaar></app-sidebaar>
      
      </div>
      <div class="col-md-10 PageBody">
         <!-- Start Body Part -->
         <app-rider-setting-header></app-rider-setting-header>

         <div class="DetailsTbl col-md-12">
          <h4>Rider Setting</h4>
  
                  <!-- Start Table Part -->
                  <div class="overflow">
                      <table class="table table-sm table-hover data-table" id="datatableexample">
                      <thead>
                        <tr style="background-color: #716ACA !important;">
                          <td>First Nam</td>
                          <td>Middle Name</td>
                          <td>Last Name</td>
                          <td>Contact Number</td>
                          <td>Branch</td>
                          <td>Status</td>
                          <td>Update</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{FirstName}}</td>
                          <td>{{MiddleName}}</td>
                          <td>{{LastName}}</td>
                          <td>{{ContectNumber}}</td>
                          <td>{{Branch}}</td>   
                          <td>
                            <select>
                                <option value="">OffLine</option>
                                <option value="">Break</option>
                                <option value="">In Progress</option>
                                <option value="">Assigned</option>
                                <option value="">Free</option>
                                <option value="">Returning</option>
                                <option value="LogOut">LogOut</option>
                            </select>
                          </td>
                          <td><button>Update Rider</button></td>            
                      </tr>
                      <tr>
                        <td>{{FirstName}}</td>
                        <td>{{MiddleName}}</td>
                        <td>{{LastName}}</td>
                        <td>{{ContectNumber}}</td>
                        <td>{{Branch}}</td>   
                        <td>
                          <select>
                              <option value="">OffLine</option>
                              <option value="">Break</option>
                              <option value="">In Progress</option>
                              <option value="">Assigned</option>
                              <option value="">Free</option>
                              <option value="">Returning</option>
                              <option value="LogOut">LogOut</option>
                          </select>
                        </td>
                        <td><button>Update Rider</button></td>            
                    </tr>
                    <tr>
                        <td>{{FirstName}}</td>
                        <td>{{MiddleName}}</td>
                        <td>{{LastName}}</td>
                        <td>{{ContectNumber}}</td>
                        <td>{{Branch}}</td>   
                        <td>
                          <select>
                              <option value="">OffLine</option>
                              <option value="">Break</option>
                              <option value="">In Progress</option>
                              <option value="">Assigned</option>
                              <option value="">Free</option>
                              <option value="">Returning</option>
                              <option value="LogOut">LogOut</option>
                          </select>
                        </td>
                        <td><button>Update Rider</button></td>            
                    </tr>
                    <tr>
                        <td>{{FirstName}}</td>
                        <td>{{MiddleName}}</td>
                        <td>{{LastName}}</td>
                        <td>{{ContectNumber}}</td>
                        <td>{{Branch}}</td>   
                        <td>
                          <select>
                              <option value="">OffLine</option>
                              <option value="">Break</option>
                              <option value="">In Progress</option>
                              <option value="">Assigned</option>
                              <option value="">Free</option>
                              <option value="">Returning</option>
                              <option value="LogOut">LogOut</option>
                          </select>
                        </td>
                        <td><button>Update Rider</button></td>            
                    </tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr>
                        <td>{{FirstName}}</td>
                        <td>{{MiddleName}}</td>
                        <td>{{LastName}}</td>
                        <td>{{ContectNumber}}</td>
                        <td>{{Branch}}</td>   
                        <td>
                          <select>
                              <option value="">OffLine</option>
                              <option value="">Break</option>
                              <option value="">In Progress</option>
                              <option value="">Assigned</option>
                              <option value="">Free</option>
                              <option value="">Returning</option>
                              <option value="LogOut">LogOut</option>
                          </select>
                        </td>
                        <td><button>Update Rider</button></td>            
                    </tr>
                    <tr>
                        <td>{{FirstName}}</td>
                        <td>{{MiddleName}}</td>
                        <td>{{LastName}}</td>
                        <td>{{ContectNumber}}</td>
                        <td>{{Branch}}</td>   
                        <td>
                          <select>
                              <option value="">OffLine</option>
                              <option value="">Break</option>
                              <option value="">In Progress</option>
                              <option value="">Assigned</option>
                              <option value="">Free</option>
                              <option value="">Returning</option>
                              <option value="LogOut">LogOut</option>
                          </select>
                        </td>
                        <td><button>Update Rider</button></td>            
                    </tr>
                      </tbody>
                    </table>
                  </div>
                    <!-- End Table Part -->
        </div>
  
         <!-- End Body Part -->
      </div>
    </div>
  </div>