
<!-- start Heading Part -->
<div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
          <app-sidebaar></app-sidebaar>
      </div>
      <div class="col-md-10 PageBody">
         <!-- Start Body Part -->
         <app-rider-rating-header></app-rider-rating-header>

        <!-- Start Branch Riders Part -->
         <div class="DetailsTbl col-md-12">
          <h4>Branch Riders</h4>
          <div class="overflow">
            <div class="riderDetails">
                <div class="row">
                    <div class="imag" style="margin-left: -10px;"><img src="../assets/Images/Kfc_logo.png" alt="rider Potfolio" style="width: 150px; height:100px;"></div>
                    <div class="contant">
                        <h6>Rana</h6>
                        <p>Mall Road</p>
                        <h6># of Orders 20</h6>
                        <p>Rating <span>0</span></p>
                    </div>
                </div>
            </div>
            <div class="riderDetails">
                <div class="row">
                    <div class="imag" style="margin-left: -10px;"><img src="../assets/Images/Kfc_logo.png" alt="rider Potfolio" style="width: 150px; height:100px;"></div>
                    <div class="contant">
                        <h6>Rana</h6>
                        <p>Mall Road</p>
                        <h6># of Orders 20</h6>
                        <p>Rating <span>0</span></p>
                    </div>
                </div>
            </div>
            <div class="riderDetails">
                <div class="row">
                    <div class="imag" style="margin-left: -10px;"><img src="../assets/Images/Kfc_logo.png" alt="rider Potfolio" style="width: 150px; height:100px;"></div>
                    <div class="contant">
                        <h6>Rana</h6>
                        <p>Mall Road</p>
                        <h6># of Orders 20</h6>
                        <p>Rating <span>0</span></p>
                    </div>
                </div>
            </div>
            <div class="riderDetails">
                <div class="row">
                    <div class="imag" style="margin-left: -10px;"><img src="../assets/Images/Kfc_logo.png" alt="rider Potfolio" style="width: 150px; height:100px;"></div>
                    <div class="contant">
                        <h6>Rana</h6>
                        <p>Mall Road</p>
                        <h6># of Orders 20</h6>
                        <p>Rating <span>0</span></p>
                    </div>
                </div>
            </div>
            <div class="riderDetails">
                <div class="row">
                    <div class="imag" style="margin-left: -10px;"><img src="../assets/Images/Kfc_logo.png" alt="rider Potfolio" style="width: 150px; height:100px;"></div>
                    <div class="contant">
                        <h6>Rana</h6>
                        <p>Mall Road</p>
                        <h6># of Orders 20</h6>
                        <p>Rating <span>0</span></p>
                    </div>
                </div>
            </div>

          </div>
         </div>
        <!-- End Branch Riders Part -->


         <!-- Start Top Region Riders Part -->
         <div class="DetailsTbl col-md-12">
            <h4>Top Region Riders</h4>
            <div class="overflow">
              <div class="riderDetails">
                  <div class="row">
                      <div class="imag" style="margin-left: -10px;"><img src="../assets/Images/Kfc_logo.png" alt="rider Potfolio" style="width: 150px; height:100px;"></div>
                      <div class="contant">
                          <h6>Rana</h6>
                          <p>Mall Road</p>
                          <h6># of Orders 20</h6>
                          <p>Rating <span>0</span></p>
                      </div>
                  </div>
              </div>
              <div class="riderDetails">
                  <div class="row">
                      <div class="imag" style="margin-left: -10px;"><img src="../assets/Images/Kfc_logo.png" alt="rider Potfolio" style="width: 150px; height:100px;"></div>
                      <div class="contant">
                          <h6>Rana</h6>
                          <p>Mall Road</p>
                          <h6># of Orders 20</h6>
                          <p>Rating <span>0</span></p>
                      </div>
                  </div>
              </div>
              <div class="riderDetails">
                  <div class="row">
                      <div class="imag" style="margin-left: -10px;"><img src="../assets/Images/Kfc_logo.png" alt="rider Potfolio" style="width: 150px; height:100px;"></div>
                      <div class="contant">
                          <h6>Rana</h6>
                          <p>Mall Road</p>
                          <h6># of Orders 20</h6>
                          <p>Rating <span>0</span></p>
                      </div>
                  </div>
              </div>
              <div class="riderDetails">
                  <div class="row">
                      <div class="imag" style="margin-left: -10px;"><img src="../assets/Images/Kfc_logo.png" alt="rider Potfolio" style="width: 150px; height:100px;"></div>
                      <div class="contant">
                          <h6>Rana</h6>
                          <p>Mall Road</p>
                          <h6># of Orders 20</h6>
                          <p>Rating <span>0</span></p>
                      </div>
                  </div>
              </div>
              <div class="riderDetails">
                  <div class="row">
                      <div class="imag" style="margin-left: -10px;"><img src="../assets/Images/Kfc_logo.png" alt="rider Potfolio" style="width: 150px; height:100px;"></div>
                      <div class="contant">
                          <h6>Rana</h6>
                          <p>Mall Road</p>
                          <h6># of Orders 20</h6>
                          <p>Rating <span>0</span></p>
                      </div>
                  </div>
              </div>
  
            </div>
           </div>
         <!-- End Top Region Riders Part -->

                  <!-- Start Top Nation Riders Part -->
                  <div class="DetailsTbl col-md-12">
                    <h4>Top Nation Riders</h4>
                    <div class="overflow">
                      <div class="riderDetails">
                          <div class="row">
                              <div class="imag" style="margin-left: -10px;"><img src="../assets/Images/Kfc_logo.png" alt="rider Potfolio" style="width: 150px; height:100px;"></div>
                              <div class="contant">
                                  <h6>Rana</h6>
                                  <p>Mall Road</p>
                                  <h6># of Orders 20</h6>
                                  <p>Rating <span>0</span></p>
                              </div>
                          </div>
                      </div>
                      <div class="riderDetails">
                          <div class="row">
                              <div class="imag" style="margin-left: -10px;"><img src="../assets/Images/Kfc_logo.png" alt="rider Potfolio" style="width: 150px; height:100px;"></div>
                              <div class="contant">
                                  <h6>Rana</h6>
                                  <p>Mall Road</p>
                                  <h6># of Orders 20</h6>
                                  <p>Rating <span>0</span></p>
                              </div>
                          </div>
                      </div>
                      <div class="riderDetails">
                          <div class="row">
                              <div class="imag" style="margin-left: -10px;"><img src="../assets/Images/Kfc_logo.png" alt="rider Potfolio" style="width: 150px; height:100px;"></div>
                              <div class="contant">
                                  <h6>Rana</h6>
                                  <p>Mall Road</p>
                                  <h6># of Orders 20</h6>
                                  <p>Rating <span>0</span></p>
                              </div>
                          </div>
                      </div>
                      <div class="riderDetails">
                          <div class="row">
                              <div class="imag" style="margin-left: -10px;"><img src="../assets/Images/Kfc_logo.png" alt="rider Potfolio" style="width: 150px; height:100px;"></div>
                              <div class="contant">
                                  <h6>Rana</h6>
                                  <p>Mall Road</p>
                                  <h6># of Orders 20</h6>
                                  <p>Rating <span>0</span></p>
                              </div>
                          </div>
                      </div>
                      <div class="riderDetails">
                          <div class="row">
                              <div class="imag" style="margin-left: -10px;"><img src="../assets/Images/Kfc_logo.png" alt="rider Potfolio" style="width: 150px; height:100px;"></div>
                              <div class="contant">
                                  <h6>Rana</h6>
                                  <p>Mall Road</p>
                                  <h6># of Orders 20</h6>
                                  <p>Rating <span>0</span></p>
                              </div>
                          </div>
                      </div>
                      <!-- <div class="riderDetails">
                        <div class="row">
                            <div class="imag" style="margin-left: -10px;"><img src="../assets/Images/Kfc_logo.png" alt="rider Potfolio" style="width: 150px; height:100px;"></div>
                            <div class="contant">
                                <h6>Rana</h6>
                                <p>Mall Road</p>
                                <h6># of Orders 20</h6>
                                <p>Rating <span>0</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="riderDetails">
                        <div class="row">
                            <div class="imag" style="margin-left: -10px;"><img src="../assets/Images/Kfc_logo.png" alt="rider Potfolio" style="width: 150px; height:100px;"></div>
                            <div class="contant">
                                <h6>Rana</h6>
                                <p>Mall Road</p>
                                <h6># of Orders 20</h6>
                                <p>Rating <span>0</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="riderDetails">
                        <div class="row">
                            <div class="imag" style="margin-left: -10px;"><img src="../assets/Images/Kfc_logo.png" alt="rider Potfolio" style="width: 150px; height:100px;"></div>
                            <div class="contant">
                                <h6>Rana</h6>
                                <p>Mall Road</p>
                                <h6># of Orders 20</h6>
                                <p>Rating <span>0</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="riderDetails">
                        <div class="row">
                            <div class="imag" style="margin-left: -10px;"><img src="../assets/Images/Kfc_logo.png" alt="rider Potfolio" style="width: 150px; height:100px;"></div>
                            <div class="contant">
                                <h6>Rana</h6>
                                <p>Mall Road</p>
                                <h6># of Orders 20</h6>
                                <p>Rating <span>0</span></p>
                            </div>
                        </div>
                    </div> -->
          
                    </div>
                   </div>
                 <!-- End Top Nation Riders Part -->

      </div>
    </div>
</div>