

<div class="col-md-12"><div class="row wor">

<div class="col-md-6">
  <div class="col-md-12 log1">
    <!-- <h1>Welcome To KFC</h1>
    <h2>Mall Road Lahore</h2> -->
 
    <img src="../assets/Images/Kfc_logo.png" alt="KFC Logo" style="width: 300px; height:180px; margin-left:27% !important; margin: 50px 0px;">
    <div class="inputField">
      <input type="text" name="username" placeholder="UserName">
      <br>
      <input type="password"  name="password" placeholder="Password">
      <div class="row" style="margin-left: 18%; width: 100% ;">
        <div class="col-md-3"> 
            <input name="remember" type="checkbox" style="width: auto;">
            <label for="">Remember me</label>
        </div>
        <div class="col-md-3">
          <a class="m-link" href="javascript:;" id="m_login_forget_password">
            Forget Password ?
          </a>
        </div>
      </div>
    </div>

    <div class="text-center">
    <a href="Index"><button type="button" class="loginButton">Sign In</button></a>
    </div>
  </div>
</div>


<div class="col-md-6">
  <div class="col-md-12 log2 float-end">
  <div class="content">
    <h1>KFC Delivery Management</h1>
  </div>
</div>
</div>
</div></div>